<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="LDDModder.BrickEditor.Binaries">
            <Component Id="cmpBF62D7D8C4E075EE727744321D8BF23A" Guid="*">
                <File Id="fil6594C636030279A9324ED263D46E6C84" Source="$(var.LDDModder.BrickEditor.TargetDir)\LDDModder.BrickEditor.exe" />
            </Component>
            <Component Id="cmpE8B48CFD7A05570EBA45A34FA1F15D54" Guid="*">
                <File Id="fil5BBF96E874539EC58C4FF6411D42D5FB" Source="$(var.LDDModder.BrickEditor.TargetDir)\LDDModder.BrickEditor.exe.config" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LDDModder.BrickEditor.Binaries">
            <ComponentRef Id="cmpBF62D7D8C4E075EE727744321D8BF23A" />
            <ComponentRef Id="cmpE8B48CFD7A05570EBA45A34FA1F15D54" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="LDDModder.BrickEditor.Satellites">
            <Directory Id="dir26A2BF608E9853226D419C2D0677C3D2" Name="fr" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LDDModder.BrickEditor.Satellites">
            <ComponentRef Id="cmp7BFF88F4EE16EE85E63E817E85004411" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="LDDModder.BrickEditor.Content">
            <Component Id="cmpECBD08CB3A266CB230EA3239EDBF8AFE" Guid="*">
                <File Id="fil24CF10FF7DAECA08DF11C99A13E72573" Source="$(var.LDDModder.BrickEditor.ProjectDir)\..\config\SharpFont.dll.config" />
            </Component>
            <Component Id="cmp1129307B0A25AFCF34E2425AE111664A" Guid="*">
                <File Id="filFBC5BD4095F439E98D08247824214BB9" Source="$(var.LDDModder.BrickEditor.ProjectDir)\..\bin\msvc10\x86\freetype6.dll" />
            </Component>
            <Directory Id="dir7E98F23B5517747D0CBA132F4EF71F99" Name="Resources" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LDDModder.BrickEditor.Content">
            <ComponentRef Id="cmpECBD08CB3A266CB230EA3239EDBF8AFE" />
            <ComponentRef Id="cmp1129307B0A25AFCF34E2425AE111664A" />
            <ComponentRef Id="cmpF2CBABB0286E9307F732810E878C274D" />
            <ComponentRef Id="cmp0AD292CFC686C450B56C7C46A7105F2B" />
            <ComponentRef Id="cmpC073D6F32273A5CBF3B2E7D9614A68DA" />
            <ComponentRef Id="cmp273E0DA3F0C8551AF8A6E2F32B9C2AC0" />
            <ComponentRef Id="cmp9027AC606BA9C84E4D30B75924B5ADF3" />
            <ComponentRef Id="cmpDECB6572C26EA625FF3098A77A216B52" />
            <ComponentRef Id="cmp478009444D7C4497BC48B7AD8C3952B4" />
            <ComponentRef Id="cmp4A68D7F8FB5EF2A9B7F078B1A51CDD08" />
            <ComponentRef Id="cmpEC35B1504E9DE104003DA3BBC439600D" />
            <ComponentRef Id="cmp612B2F7360BCB001DDC9D02655C83443" />
            <ComponentRef Id="cmpDCFDCC1D4D25A93E0A2426177A6A4AFC" />
            <ComponentRef Id="cmpB4504B3D6CDA6B9CAD97132F6149DEA0" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmp0AD292CFC686C450B56C7C46A7105F2B" Guid="*">
                <File Id="fil39D812817C0B107470A38E479E799559" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\DecorationSurfaceIcon.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmp273E0DA3F0C8551AF8A6E2F32B9C2AC0" Guid="*">
                <File Id="fil0D3E08008924CEA542F5378EEB9AF7FE" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\HiddenIcon.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmp478009444D7C4497BC48B7AD8C3952B4" Guid="*">
                <File Id="fil01644C1DCB2D33535F69F203CAC054FA" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\MeshIcon.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmp4A68D7F8FB5EF2A9B7F078B1A51CDD08" Guid="*">
                <File Id="filE774D2DBAED495C1110C80EC1B5C2807" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\NotVisibleIcon.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmp612B2F7360BCB001DDC9D02655C83443" Guid="*">
                <File Id="fil2C6639DE3E8844F08CF4B1945F0C9276" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\StatusInfo.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir26A2BF608E9853226D419C2D0677C3D2">
            <Component Id="cmp7BFF88F4EE16EE85E63E817E85004411" Guid="*">
                <File Id="filF0FF54967298F0BBCD52686631AF2368" Source="$(var.LDDModder.BrickEditor.TargetDir)\fr\LDDModder.BrickEditor.resources.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmp9027AC606BA9C84E4D30B75924B5ADF3" Guid="*">
                <File Id="filA353EB3E0B4AE3904FE3848EAFC1D222" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\MainSurfaceIcon.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmpB4504B3D6CDA6B9CAD97132F6149DEA0" Guid="*">
                <File Id="filA1C7D788EF3F628866C0CB1E17900608" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\VisibleIcon.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmpC073D6F32273A5CBF3B2E7D9614A68DA" Guid="*">
                <File Id="filD0097645DA931F8A57003834AF388953" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\Hidden2Icon.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmpDCFDCC1D4D25A93E0A2426177A6A4AFC" Guid="*">
                <File Id="filC9838A2BECA775B1A72A0D40FDBC0270" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\StatusWarning.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmpDECB6572C26EA625FF3098A77A216B52" Guid="*">
                <File Id="fil7D65A72DB495DC886F84ACE8142280F3" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\MaleStudIcon.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03455AC2D5FAD35214180D7ACF9C2988">
            <Component Id="cmpEC35B1504E9DE104003DA3BBC439600D" Guid="*">
                <File Id="fil414B0D7D282A6C0243577A4954161C47" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Images\StatusError.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir56AF798FE27A99DAF0777D21CA7AE567">
            <Component Id="cmpF2CBABB0286E9307F732810E878C274D" Guid="*">
                <File Id="filCF5D1C06E1AF53B313C8FC5708BE7065" Source="$(var.LDDModder.BrickEditor.ProjectDir)\Resources\Data\Primitive connectors.xml" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7E98F23B5517747D0CBA132F4EF71F99">
            <Directory Id="dir03455AC2D5FAD35214180D7ACF9C2988" Name="Images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7E98F23B5517747D0CBA132F4EF71F99">
            <Directory Id="dir56AF798FE27A99DAF0777D21CA7AE567" Name="Data" />
        </DirectoryRef>
    </Fragment>
</Wix>